@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* ---------- */
/* REset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* set up the body*/

body{
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */

img,
picture{
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

.hero{
  line-height: 1.5;
}

@media (maxwidth:1080px){
  .hero{
    line-height: 1.8;
  }
}
/* remove animations for people who've turned them off */
 @media (prefers-reduced-motion: reduce){
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
 }


/* :root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
} */

* {
  scroll-behavior: smooth;
}

/* utility classes */
/* 

some utility classes to take note of

.flex{
  display: flex;
  gap: var(--gap,1rem)
}

.grid{
  display: grid;
  gap: var(--gap, 1rem)
}




*/
html{
  background: rgb(11,13,23);
}
.container {
  padding: 0 2em;
  max-width: 80rem;
  margin: 0 auto;
}

@media  (max-width:750px) {
  .container{
    padding: 0 1em;
  }
}
.sr-only {
  position: abosolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
   white-space: nowrap;/*added line */
  border:0
}

.scroll::-webkit-scrollbar{
  display: none;
}
/* component based classess */
/* ---they style a component and not just do one thing--- */


.large--button::after{
  content: '';
  position: absolute;
  z-index: -1;
  background: hsl(0, 40%, 98%,15%);
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 500ms linear, transform 500ms ease-in-out;
}

.large--button:hover::after,
.large--button:focus::after{
  transform: scale(1.5);
  opacity: 1;
}

.active,
[aria-selected='true']{
  border-bottom: 0.25rem solid white;
}

.secNav  nav{
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  background: hsl(0, 0%, 0%,75%);
  transform: width 500ms ease-in-out;
  z-index: 3;
}

.inc-but{
  margin-bottom: 40px;
}

.thisone{
  background-color: rgb(103, 22, 244);
}



.app{
  min-height: 100vh;
}

/* .text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
} */